/* This file exists as a global css*/
@import "../../static/fonts/fonts.css";

:root {
  --bone-white: #f9f7f7;
  --blackish: #1e2022;
  --lightGrey: #f0f5f9;
  --darkGrey: #52616b;
  --midGrey: #c9d6df;
  --lightblue: #dbe2ef;
  --midblue: #3f72af;
  --darkblue: #112d4e;
}

body {
  margin: 0px;
  color: #000;
  font-family: Gilroy-Regular, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p {
  margin: 0px;
}

/* css for react slick remove when proper carousel is ready */

.slick-prev {
  left: 3% !important;
  height: 48px !important;
  width: 48px !important;
  z-index: 1;
}
.slick-next {
  right: 8% !important;
  height: 48px !important;
  width: 48px !important;
  z-index: 1;
}
.slick-prev:before,
.slick-next:before {
  font-size: 48px !important;
}
